*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
    color: black;
    font-size: 16px;
    
}
a:link,a:active,a:visited{
    color: black;
}
.navbar{
    background-color: #9d3535;
}
.navbar-nav{
    margin-left: auto;
}
.navbar-nav a:hover{
    color: #000000;
}
.navbar-brand:hover{
    color: #000000;
}
.navbar-size{
    height: 4rem;
}
.navbar-nav > li {
    padding : 0 1rem;
    font-weight: 500;
}
.but{
    padding: 0.5rem 1rem;
    text-align: center;
    font-size:16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9d3535;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width:6rem;
    height:32px;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    margin-left: 1rem;
}
.but a {
    text-align: center;
    text-decoration: none;
  color: #000000;
  display: block;
  
}

.but a:hover{
    text-decoration: none;
  color: #ffffff;
  display: block;
}